<!DOCTYPE html>
<html lang= "es" style="height: 100%;">
<head>
    <title>mis mejores peliculas</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class= "green lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
             <h1 style="text-align: center;">Bienvenido al mejor listado de peliculas</h1>
            </div>
    
        </div>
    </div>
</body>

</html>
