<!DOCTYPE html>
<html lang= "es" style="height: 100%;">
<head>
    <title>centros asistenciales Viña del Mar</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class= "cyan lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
             <h1 style="text-align: center;">Centros asistenciales Viña del Mar</h1>
            </div>
    
        </div>
    </div>
    <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Hospital/Clínica/Centro médico</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Hospital clínico viña del mar</td>
            <td>Limache 1741</td>
            <td>Hospital</td>
          </tr>
          <tr>
            <td>Integramédica</td>
            <td>12 nte 853</td>
            <td>Centro médico</td>
          </tr>
          <tr>
            <td>Clínica miraflores</td>
            <td>Los fresnos 276</td>
            <td>Clínica</td>
          </tr>
          <tr>
            <td>Clínica ciudad del mar</td>
            <td>13 nte 635</td>
            <td>Clínica</td>   
          </tr>
          <tr>
            <td>Clinica bupa reñaca</td>
            <td>Anabaena 336</td>
            <td>Clínica</td>   
          </tr>
          <tr>
            <td>Clínica ciudad del mar bosques</td>
            <td>Avda Edmundo eluchans 2145</td>
            <td>Clínica</td>   
          </tr>
          <tr>
            <td>Hospital de niños viña del mar</td>
            <td>Limache 1667</td>
            <td>Hospital</td>   
          </tr>

        </tbody>
      </table>
    
      <a href=http://127.0.0.1:8000>Retorno página principal</a>
</body>

</html>